/*
 * 定义一些通用常量,便于一起修改
 */

$theme-color: #57c3c4;
$alter-background: #b9e8e8;
$white-text-color: white;
$black-text-color: #040404;


@mixin text-ellipsis($width) {
    max-width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}