/*
 * 定义一些通用常量,便于一起修改
 */

$theme-color: #00C4C0;
$alter-background: #f2f6ff;


@mixin text-ellipsis($width) {
    max-width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}