input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #6a5a28;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #6a5a28;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #6a5a28;
}
input {outline:none;color: #6a5a28;}
.daohang{
	width:85%;float:right;
}
.daohang>li{
	float:left;
	width:9.9%;
	position:relative;
	cursor: pointer;
	display: block;
	text-align: center;
	padding-top:25px;
	padding-bottom:25px;
	box-sizing:border-box;
}
.daohang>li>a{
	padding: 7px 10px;
	color: #6b5736;
	font-family: monospace;
}
.daohang>li>a:hover{
	color: #e2bc73;
}
.head_nav{
	min-width:1000px;
	margin-top:30px;
	padding-left:1.5%;
	padding-right:1.5%;
	box-sizing: border-box;
	margin:auto;
	height:100%;
}
.head_nav>a{
	display: block;float:left;
	margin-top:22px;
	width:10%;
}
.head_nav>a:first-child {
	margin-top: 17px;
}
.head_nav>a>img{
	heigth:100%;
}
.head_nav>span{
	float: right;
	border: 1px solid #ad8841;
	text-align: center;
	width: 80px;
	height: 30px;
	line-height: 30px;
	color: #ad8841;
	margin: 20px;
	margin-right: 15%;
	cursor: pointer;
}
#touicon{
	width: 100%;
	background: #090909;
	position: fixed;
	z-index: 999;
	 opacity: 0.8;
top: 0;
}
.newszixun{
	width:100%;
	margin: auto;
	position: relative;
	min-height: 400px;
}
.xiaohai{
	width:100%;
	margin: auto;

	background-size:100% 100%;
;
}
.newszixun>img{
	width:100%;
}
.neirong{
	position: absolute;
	font-family: serif;

}
.neirong>h1{
	font-weight: bold;
	padding-bottom: 5px;
	color: #b18a3b;
	font-size: 40px;
}
.neirong>h2{
	padding-bottom: 20px;
	color: #b18a3b;
	font-size: 22px;
}
.neirong>p{
	color: #b18a3b;
	line-height: 25px;
	font-family: sans-serif;
}
.neirong>ul{

}
.neirong>ul>li{
	color: #b18a3b;
	float: left;
	width: 25%;
	text-align: center;
}
.neirong>ul>li p{
	line-height: 25px;
	font-family: sans-serif;
}
.neirong  button{
	color: #fff;
	background: #b0893c;
	border: 0;
	padding: 10px;
	width: 200px;
	margin-top: 20px;
}
.neirong  button>a{
	color: #fff;
}
.neirong  button>a:hover{
	color: #fff;
}

.neirong>.sp{
	padding-bottom: 20px;
}
.neirong>.sp>li{
	color: #b18a3b;
	float: left;
	width: 20%;
	text-align: center;
	padding: 20px 10px;
	margin: 5% 2%;
}
.neirong>.sp>li p:nth-child(2){
	padding-bottom: 25px;
}
.neirong>.sp>li>img{
	width: 50%;
	margin-bottom: 15%;
}
.neirong>.sp>li p>img{
	width: 6px;
	margin-bottom: 3px;
	margin-right: 3px;
}
.balk{
	color: #000 !important;
}
.neirong>.sp>li.choose{
	border: 1px solid #b18a3b;
}
.neirongqu{
	width:72%;
	float:right;
	padding-bottom:40px;
	border-bottom:1px dashed #b1b1b1;
}
.neirongqu>h3{
	font-size:18px;
	padding:10px 0;
}
.neirongqu>span{
	display: block;
	padding-bottom:5px;
	color:#999;
}
.neirongqu>p{
	line-height:25px;
	padding-top:10px;
	padding-bottom:10px;
}
.neirongqu>a{
	color:#0cb2fe;
}

#footer{
	width: 100%;
	background: #181312;
	padding: 25px 0 0px;

}
#footer h5{
	color: #b18a3b;
	 line-height: 50px;
font-size: 20px;
	 font-size: 24px;
font-family: cursive;
	margin-bottom: 25px;
	line-height: 35px;
}
#footer p{
	color: #6a5a28;
	line-height: 35px;
}
.footer_right p{
	text-align: right;
}
#footer p>a{
	color: #6a5a28;
}
.footer_top, .footer_bottom{
	min-width: 968px;
	margin: auto;
	padding: 10px;
	width: 75%;
}
#footer .footer_bottom>p{
	color: #b18a3b;
	text-align: center;
}
.footer_left{
	width:50%;
	float: left;
}
.footer_left p{
	width:70%;
	text-align:justify;
}
.footer_right{
	width:20%;
	float:right;
}
.footer_right h5{
	text-align: right;
}
.footer_center{
	width:30%;
	float:left;
}
.footer_center .input{
	width: 250px;
	border: 1px solid #6c5938;
}
.footer_center .input input{
	background: transparent;
	border: 0;
	padding-left: 5px;
}
.footer_center .input span{
	background: #6a5a28;
	color: #b18a3b;
	display: inline-table;
	width: 25%;
	float: right;
	text-align: center;
}
.footer_left>ul{
	width:100%;
	padding-left:35px;
	padding-top:10px;padding-bottom:10px;
}
.footer_left>ul>li{
	float:left;
	padding:0px 15px;
	border-left:2px solid #fff;
}
.footer_left>ul>li>a{
	color:#fff;
}
.footer_right>ul{
	width:100%;
}
.footer_right>ul>li{
	float:left;width:22.5%;
	margin-right:2%;
}
.footer_right>ul>li>img{
	width:100%;
}
.footer_top{
	padding-bottom: 45px;
	padding-top: 30px;
}
.footer_bottom{
	padding: 10px 0;
	background: #0f0e0c;
	width: 100%;
}
.morentitle{
	color:#e2bc73 !important;
	font-weight: bold;
}



@media only screen and (min-width: 1024px) and (max-width:1199px){
	.head_nav{
		width:940px;
	}
	#cont{
		width:100%;
	}
	.tifen{
		width:100%;
	}
	.gongkai{
		width:100%;
	}
	.chengjiu{
		width:100%;
	}
	.tiyan{
		min-width:100%;
		width:100%;
	}
	.tiyan>h2{
		width:100%;
	}
	.right_main2>ul>li>img{
		max-width:100%;
	}
	.tiyanul{
		width:100%;
	}
	.report{
		min-width:100%;
		width:100%;
	}
	.reportcont_son{
		margin-right:40px;
	}
	.reporttitle{
		width:100%;
	}
	.reportcont{
		width:100%;
	}
	#footer_pege{
		min-width:100%;
		width:100%;
	}
	.right_main>ul>li>img{
		max-width:100%;
	}
	.lianxi{
		width:100%;
	}
	.reserve{
		min-width:100%;
		width:100%;
	}
	.reserve_box{
		width:100%;
	}
	.wufeng{
		width:400px;
	}
	.banner>li>img{
		min-width:1000px;
		width:100%;
	}
	.dibu{
		min-width:100%;
		width:100%;
	}
	.foot_box{
		width:100%;
	}
	.input-wrap>input{
		width:230px;
	}
	.form{
		margin-left:110px;
	}
	#cont>h2{
		font-size:27px;
	}
	.tifen>h3{
		font-size:27px;
	}
	.gongkai>h3{
		font-size:27px;
	}
	.chengjiu>h3{
		font-size:27px;
	}
	.tiyan>h2{
		font-size:27px;
	}
	.reporttitle>span{
		font-size:27px;
	}
	.reportcont_2>h3{
		font-size:23px;
	}
	.fa_cont{
		width:100%;
	}
	.jingyan{
		width:95%;
		margin: auto;
	}
	.teacherinfo{
		width:100%;
	}
	.liucheng{
		width:100%;
	}
	.liuchengtu>li>a{
		width:85px;
		height:85px;
		line-height:85px;
	}
	.liuchengtu>li>span{
		height:85px;
	}
	.liuchengtu>li:first-child{
		margin-left:15px;
	}
	.jingyanright>button{
		padding:15px 90px;
	}
	.team{
		width:95%;
	}
	.fa_cont>h2{
		font-size:27px;
	}
	.teacherinfo>h2{
		font-size:27px;
	}
	.int_cont>h2{
		font-size:27px;
	}
	.licheng>h2{
		font-size:27px;
	}
	.lianxititle>h2{
		font-size:27px;
	}
	.imgshuoming>h3{
		font-size:25px;
	}
	.int_cont{
		width:100%;
	}
	.imgshuoming{
		width:90%;
	}
	.licheng{
		width:100%;
	}
	.lichengdetail{
		width:90%;
	}
	.throughline{
		width:100%;
	}
	.liunslider{
		width:100%;
	}
	.nav_ol>li{
		width:89px;
	}
	.lianxius{
		width:93%;
	}

	.daohang>li:nth-child(4)>ul{
		width:170%;
		left:-35%;
	}
	.kechengicon{
		width:100%;
	}
	.juticlass>ul>li{
		font-size:14.6px;
		width:15.2%;
	}
	.dianshinews{
		width:100%;
	}
	.laoshis{
		width:1000px;
		margin: auto;
	}
	.newszixun{
		width:100%;
	}
	.newsright>ul>li>span{
		width:15%;
	}
	.newsright{
		padding-top:50px;
	}
	.footer_top{
		width:95%;
	}
	.footer_left>ul>li{
		padding:0 10px;
	}
	.newsshow{
		width:98%;
		margin: auto;
	}
	.right_main img{
		height:165px!important;
	}
	.right_main2 img{
		height:165px!important;
	}
	#newslookcont{
		width:100%;
	}
	.xinwenjuti{
		width:95%;
		margin: auto;
	}
}
#fubiao{
	position: fixed;
	right: 0;
	top: 40%;
}
#fubiao li{
	background: #060604;
	border: 1px solid #ad8841;
	margin: 10px;
	text-align: center;
	width: 80px;
	height: 80px;
	position: relative;
	cursor: pointer;
}
#fubiao li:hover{
	border: 1px solid #806d3e;
	background: #aa853f;
}

#fubiao li:first-child>a{
	background: url(../img/kefu.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 20%;
	left: 25%;
	width: 50%;
	height: 44%;
}
#fubiao li:first-child:hover>a{
	background: url(../img/kefu.png) no-repeat;
	background-size: 100% 100%;
}

#fubiao li>p{
	color: #ad8841;
	position: absolute;
	bottom: 3px;
	left: 31%;
}
#fubiao li:hover>p{
	color:  #1c1a17;
}
#fubiao li:first-child:hover>div{
	display: block;
}
#fubiao li:first-child>div{
	position: absolute;
	right: 89px;
	background: #000;
	border: 1px;
	box-shadow: 1px 1px 20px #c99c44;
	padding: 20px;
	width: 240px;
	/* opacity: 0.8; */
	top: -20px;
	text-align: left;
	padding-right: 0;
	display: none;
	border: 1px solid #4c3b19;
}
#fubiao li:first-child>div a{
	color: #c99c44;
	position: absolute;
	right: -16px;
	top: 25%;
	border: 8px solid transparent;
	border-left: 8px solid #000;
}
#fubiao li:first-child>div p{
	color: #594a2b;
	line-height: 30px;
}
#fubiao li:first-child>div span{
	color: #c99b43;
	font-family: monospace;
	width: 70px;
	display: inline-table;
}
